[submodule "t-dongle-s3/payloads"]
	path = t-dongle-s3/payloads
	url = https://github.com/hak5/usbrubberducky-payloads.git
[submodule "m5stickc-plus2/ir"]
	path = m5stickc-plus2/ir
	url = https://github.com/Lucaslhm/Flipper-IRDB.git
[submodule "m5stickc-plus2/evil-portal"]
	path = m5stickc-plus2/evil-portal
	url = https://github.com/Batcherss/evil-portal-html.git
[submodule "galaxy-s10-nethunter/netsec-auditor"]
	path = galaxy-s10-nethunter/netsec-auditor
	url = https://github.com/26zl/netsec-auditor.git
[submodule "galaxy-s10-nethunter/cybersec-toolkit"]
	path = galaxy-s10-nethunter/cybersec-toolkit
	url = https://github.com/26zl/cybersec-toolkit.git
